# 001 - Window Functions

```SQL
DROP TABLE IF EXISTS ventas_sucursal;

CREATE TABLE ventas_sucursal (
    venta_id INTEGER,
    sucursal VARCHAR(50),
    vendedor VARCHAR(50),
    monto DECIMAL(10,2),
    fecha DATE
);

INSERT INTO ventas_sucursal VALUES
    (1, 'Norte', 'Ana', 500, '2023-10-01'),
    (2, 'Norte', 'Bernardo', 300, '2023-10-01'),
    (3, 'Sur', 'Claudia', 800, '2023-10-02'),
    (4, 'Norte', 'Ana', 200, '2023-10-02'),
    (5, 'Sur', 'Diego', 450, '2023-10-03'),
    (6, 'Sur', 'Claudia', 100, '2023-10-03'),
    (7, 'Norte', 'Bernardo', 900, '2023-10-04');

SELECT * FROM ventas_sucursal;
```

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ventas = pd.read_csv('DATA/001/ventas_sucursal.csv', parse_dates=['fecha'])

df_ventas.head()

   venta_id sucursal  vendedor  monto      fecha
0         1    Norte       Ana  500.0 2023-10-01
1         2    Norte  Bernardo  300.0 2023-10-01
2         3      Sur   Claudia  800.0 2023-10-02
3         4    Norte       Ana  200.0 2023-10-02
4         5      Sur     Diego  450.0 2023-10-03