# Google Ads Campaign Performance Optimization

```SQL
DROP TABLE IF EXISTS dim_campaign;

DROP TABLE IF EXISTS fct_ad_performance;

CREATE TABLE dim_campaign (
    campaign_id INTEGER,
    segment VARCHAR
);

CREATE TABLE fct_ad_performance (
    campaign_id INTEGER,
    ad_format VARCHAR,
    impressions INTEGER,
    clicks INTEGER,
    cost FLOAT,
    revenue FLOAT,
    campaign_date DATE
);

INSERT INTO dim_campaign (campaign_id, segment)
VALUES
    (101, 'Tech Ads'),
    (102, 'Retail Growth'),
    (103, 'Finance Solutions'),
    (104, 'Health & Wellness'),
    (105, 'Automotive'),
    (106, 'Education'),
    (107, 'Travel'),
    (108, 'Entertainment'),
    (109, 'Food & Beverage'),
    (110, 'Real Estate');

INSERT INTO fct_ad_performance (
    campaign_id,
    ad_format,
    impressions,
    clicks,
    cost,
    revenue,
    campaign_date
)
VALUES
    (101, 'video', 500, 50, 100.0, 150.0, '2024-07-10'),
    (101, 'display', 300, 30, 60.0, 90.0, '2024-07-20'),
    (102, 'search', 400, 40, 80.0, 120.0, '2024-07-15'),
    (103, 'video', 600, 55, 120.0, 200.0, '2024-07-18'),
    (104, 'shopping', 200, 20, 40.0, 70.0, '2024-07-22'),
    (105, 'search', 350, 35, 70.0, 110.0, '2024-07-05'),
    (106, 'display', 450, 45, 90.0, 130.0, '2024-07-11'),
    (101, 'video', 1200, 80, 200.0, 300.0, '2024-08-03'),
    (102, 'search', 800, 60, 150.0, 180.0, '2024-08-04'),
    (103, 'display', 1100, 70, 180.0, 250.0, '2024-08-09'),
    (104, 'video', 950, 65, 170.0, 210.0, '2024-08-12'),
    (105, 'shopping', 1300, 85, 220.0, 330.0, '2024-08-15'),
    (106, 'search', 1050, 75, 190.0, 260.0, '2024-08-22'),
    (107, 'video', 500, 45, 100.0, 140.0, '2024-08-27'),
    (108, 'display', 1150, 78, 210.0, 310.0, '2024-08-05'),
    (109, 'search', 700, 50, 120.0, 200.0, '2024-09-10'),
    (110, 'display', 600, 45, 90.0, 150.0, '2024-09-15'),
    (101, 'shopping', 800, 60, 160.0, 240.0, '2024-09-20'),
    (102, 'video', 900, 80, 180.0, 280.0, '2024-09-21'),
    (103, 'search', 650, 55, 130.0, 190.0, '2024-09-22');

SELECT * FROM dim_campaign;
SELECT * FROM fct_ad_performance;
```

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_campaign = pd.read_csv('Data/005/dim_campaign_2.csv')
df_performance = pd.read_csv('Data/005/fct_ad_performance.csv', parse_dates=['campaign_date'])

df_campaign.head()

   campaign_id            segment
0          101           Tech Ads
1          102      Retail Growth
2          103  Finance Solutions
3          104  Health & Wellness
4          105         Automotive

In [4]:
df_performance.head()

   campaign_id ad_format  impressions  clicks  cost  revenue campaign_date
0          101     video          500      50   100      150    2024-07-10
1          101   display          300      30    60       90    2024-07-20
2          102    search          400      40    80      120    2024-07-15
3          103     video          600      55   120      200    2024-07-18
4          104  shopping          200      20    40       70    2024-07-22

# Pregunta 1

### Para cada segmento de campaña publicitaria, ¿cuáles son los formatos de anuncios únicos utilizados durante julio de 2024? Esto nos ayudará a comprender la diversidad en nuestros formatos de anuncios

In [7]:
df_merge = df_campaign.merge(df_performance, on='campaign_id', how='inner')

df_julio = df_merge[
    (df_merge['campaign_date'].between('2024-07-01','2024-07-31'))
]

diversidad_formatos = df_julio[['segment','ad_format']].drop_duplicates().sort_values(by='segment')

diversidad_formatos

              segment ad_format
12         Automotive    search
14          Education   display
7   Finance Solutions     video
10  Health & Wellness  shopping
4       Retail Growth    search
0            Tech Ads     video
1            Tech Ads   display

```SQL
SELECT
    DISTINCT c.segment,
    f.ad_format
FROM fct_ad_performance f
INNER JOIN dim_campaign c ON c.campaign_id = f.campaign_id
WHERE f.campaign_date BETWEEN '2024-07-01' AND '2024-07-31'
ORDER BY  c.segment;
```