# Meta - Spark Augmented Reality (AR) Filter Engagement Metrics

```SQL
CREATE TABLE ar_filters (
    filter_id INTEGER,
    filter_name VARCHAR
);

CREATE TABLE ar_filter_engagements (
    engagement_id INTEGER,
    filter_id INTEGER,
    interaction_count INTEGER,
    engagement_date DATE
);

INSERT INTO ar_filters (filter_id, filter_name)
VALUES
    (1, 'Summer Vibes'),
    (2, 'Golden Hour Glow'),
    (3, 'Tropical Escape'),
    (4, 'City Lights'),
    (5, 'Retro Film'),
    (6, 'Artistic Strokes'),
    (7, 'Nature Bloom'),
    (8, 'Sparkling Dust'),
    (9, 'Dreamy Haze'),
    (10, 'Neon Dreams'),
    (11, 'Ocean Breeze'),
    (12, 'Vintage Look'),
    (13, 'Abstract Lines'),
    (14, 'Rainbow Effect'),
    (15, 'Glitter Bomb');


INSERT INTO ar_filter_engagements (engagement_id, filter_id, interaction_count, engagement_date)
VALUES
    (1, 1, 150, '2024-07-05'),
    (2, 2, 200, '2024-07-10'),
    (3, 1, 180, '2024-07-12'),
    (4, 3, 120, '2024-07-15'),
    (6, 2, 220, '2024-07-25'),
    (7, 5, 110, '2024-07-28'),
    (8, 1, 160, '2024-07-30'),
    (9, 6, 130, '2024-08-02'),
    (10, 7, 1050, '2024-08-05'),
    (12, 6, 150, '2024-08-12'),
    (14, 9, 950, '2024-08-20'),
    (16, 10, 1010, '2024-08-25'),
    (18, 9, 800, '2024-08-30'),
    (19, 11, 1400, '2024-09-03'),
    (20, 12, 1550, '2024-09-07'),
    (21, 11, 1450, '2024-09-10'),
    (22, 13, 1250, '2024-09-12'),
    (23, 14, 1180, '2024-09-15'),
    (24, 12, 1600, '2024-09-18'),
    (25, 15, 1320, '2024-09-20'),
    (26, 11, 1380, '2024-09-23'),
    (27, 13, 1200, '2024-09-25'),
    (28, 14, 1100, '2024-09-28'),
    (29, 1, 95, '2024-07-01'),
    (30, 2, 110, '2024-07-03'),
    (31, 3, 85, '2024-07-08'),
    (32, 3, 98, '2024-07-16'),
    (34, 3, 105, '2024-07-19'),
    (37, 9, 150, '2024-07-29'),
    (38, 10, 165, '2024-08-01'),
    (39, 11, 980, '2024-08-06'),
    (40, 12, 890, '2024-08-09'),
    (41, 13, 920, '2024-08-14'),
    (42, 14, 850, '2024-08-18'),
    (43, 15, 990, '2024-08-23'),
    (44, 1, 80, '2024-09-01'),
    (45, 2, 90, '2024-09-05'),
    (46, 3, 75, '2024-09-09'),
    (48, 5, 88, '2024-09-17'),
    (49, 6, 95, '2024-09-21'),
    (52, 9, 140, '2024-09-30');
```

In [1]:
import pandas as pd
import numpy as np

In [5]:
df_filter = pd.read_csv('Data/004/ar_filters.csv')
df_filter_engagements = pd.read_csv('Data/004/ar_filter_engagements.csv')

df_filter.head()

   filter_id       filter_name
0          1      Summer Vibes
1          2  Golden Hour Glow
2          3   Tropical Escape
3          4       City Lights
4          5        Retro Film

In [3]:
df_filter_engagements.head()

   engagement_id  filter_id  interaction_count engagement_date
0              1          1                150      2024-07-05
1              2          2                200      2024-07-10
2              3          1                180      2024-07-12
3              4          3                120      2024-07-15
4              6          2                220      2024-07-25

# Pregunta 1

### ¿Qué filtros de Realidad Aumentada (AR) han generado interacciones de usuarios en julio de 2024? Haz una lista de los filtros por su nombre.

In [15]:
df_merged = pd.merge(df_filter, df_filter_engagements, on='filter_id')

mask = (df_merged['engagement_date'].between('2024-07-01','2024-07-31')) & (df_merged['interaction_count'] > 0)
filter_julio = df_merged.loc[mask, 'filter_name']

lista_final = filter_julio.unique()

lista_final

array(['Summer Vibes', 'Golden Hour Glow', 'Tropical Escape',
       'Retro Film', 'Dreamy Haze'], dtype=object)

```SQL
SELECT
    distinct a.filter_name
FROM ar_filters a
JOIN ar_filter_engagements e ON a.filter_id = e.filter_id
WHERE e.engagement_date BETWEEN '2024-07-01' AND '2024-07-31'
AND e.interaction_count > 0;
```

# Pregunta 2

### ¿Cuántas interacciones totales recibió cada filtro de AR en agosto de 2024? Devuelve solo los nombres de los filtros que recibieron más de 1000 interacciones, junto con sus respectivos conteos de interacción.

```SQL
SELECT
    a.filter_name,
    SUM(e.interaction_count) AS total_interactions
FROM ar_filters a
JOIN ar_filter_engagements e ON a.filter_id = e.filter_id
WHERE e.engagement_date BETWEEN '2024-08-01' AND '2024-08-31'
GROUP BY a.filter_name
HAVING SUM(e.interaction_count) > 1000;
```

In [17]:
# 1. Asegurar que la columna de fecha sea tipo datetime
df_filter_engagements['engagement_date'] = pd.to_datetime(df_filter_engagements['engagement_date'])

# 2. Unir (Merge) las dos tablas para tener nombres e interacciones juntos
df_merged = pd.merge(df_filter, df_filter_engagements, on='filter_id')

# 3. Filtrar por el mes de Agosto 2024
df_august = df_merged[
    (df_merged['engagement_date'] >= '2024-08-01') & 
    (df_merged['engagement_date'] <= '2024-08-31')
]

# 4. Agrupar por nombre y sumar las interacciones
resumen_agosto = df_august.groupby('filter_name')['interaction_count'].sum().reset_index()

# 5. Aplicar el filtro de "más de 1000" (el equivalente al HAVING de SQL)
respuesta_final = resumen_agosto[resumen_agosto['interaction_count'] > 1000]

print(respuesta_final)

    filter_name  interaction_count
2   Dreamy Haze               1750
4  Nature Bloom               1050
5   Neon Dreams               1175

# Pregunta 3

### ¿Cuáles son los 3 filtros de AR con el mayor número de interacciones en septiembre de 2024 y cuántas interacciones recibió cada uno?

```SQL
select
    a.filter_name,
    SUM(e.interaction_count) AS total_interactions
FROM ar_filters a
JOIN ar_filter_engagements e ON a.filter_id = e.filter_id
WHERE e.engagement_date BETWEEN '2024-09-01' AND '2024-09-30'
GROUP BY a.filter_name
ORDER BY total_interactions DESC
LIMIT 3;
```