# Google - User Engagement with Search Quality

```SQL
CREATE TABLE users (
    user_id INTEGER,
    user_name VARCHAR,
    signup_date DATE
);

INSERT INTO users (user_id, user_name, signup_date)
VALUES
    (1, 'Alice Smith', '2024-10-02'),
    (2, 'Bob Johnson', '2024-10-05'),
    (3, 'Carol Williams', '2024-10-10'),
    (4, 'David Brown', '2024-10-15'),
    (5, 'Eva Davis', '2024-10-20'),
    (6, 'Frank Miller', '2024-10-25'),
    (7, 'Grace Wilson', '2024-10-28'),
    (8, 'Henry Moore', '2024-10-30'),
    (9, 'Irene Taylor', '2024-10-12'),
    (10, 'Jack Anderson', '2024-10-18'),
    (11, 'Liam Edwards', '2024-09-05'),
    (12, 'Sophia Martinez', '2024-09-15'),
    (13, 'Oliver Clark', '2024-11-01'),
    (14, 'Mia Walker', '2024-11-10');

CREATE TABLE search_queries (
    query_id INTEGER,
    user_id INTEGER,
    clicks INTEGER,
    dwell_time_seconds INTEGER,
    query_date DATE
);

INSERT INTO search_queries (query_id, user_id, clicks, dwell_time_seconds, query_date)
VALUES
    (1, 1, 1, 45, '2024-10-03'),
    (2, 2, 0, 25, '2024-10-06'),
    (3, 3, 1, 35, '2024-10-11'),
    (4, 4, 0, 15, '2024-10-16'),
    (5, 5, 1, 50, '2024-10-21'),
    (6, 6, 0, 40, '2024-10-26'),
    (7, 7, 1, 20, '2024-10-29'),
    (8, 8, 0, 10, '2024-10-31'),
    (9, 9, 1, 60, '2024-10-13'),
    (10, 10, 0, 50, '2024-10-19'),
    (11, 11, 1, 31, '2024-10-04'),
    (12, 12, 1, 29, '2024-10-07'),
    (13, 13, 0, 45, '2024-10-12'),
    (14, 14, 1, 50, '2024-10-17'),
    (15, 5, 0, 20, '2024-10-22'),
    (16, 6, 1, 10, '2024-10-27'),
    (17, 7, 0, 35, '2024-10-30'),
    (18, 8, 1, 55, '2024-10-30'),
    (19, 9, 0, 15, '2024-10-14'),
    (20, 10, 1, 40, '2024-10-20'),
    (21, 11, 1, 35, '2024-09-06'),
    (22, 12, 0, 45, '2024-09-18'),
    (23, 13, 1, 20, '2024-11-03'),
    (24, 14, 0, 30, '2024-11-12');
```

In [1]:
import pandas as pd   
import numpy as np

In [31]:
df_search_queries = pd.read_csv('Data/002/search_queries.csv')
df_users = pd.read_csv('Data/002/users.csv')

In [32]:
df_users.head()

   user_id       user_name signup_date
0        1     Alice Smith  2024-10-02
1        2     Bob Johnson  2024-10-05
2        3  Carol Williams  2024-10-10
3        4     David Brown  2024-10-15
4        5       Eva Davis  2024-10-20

In [8]:
df_search_queries.head()

   query_id  user_id  clicks  dwell_time_seconds  query_date
0         1        1       1                  45  2024-10-03
1         2        2       0                  25  2024-10-06
2         3        3       1                  35  2024-10-11
3         4        4       0                  15  2024-10-16
4         5        5       1                  50  2024-10-21

# Pregunta 1

### ¿Cuántas consultas de búsqueda (search queries) tuvieron un clic en un enlace o un tiempo de permanencia (dwell time) de más de 30 segundos en octubre de 2024?

In [14]:
df_search_queries['query_date'] = pd.to_datetime(df_search_queries['query_date'])
df_octubre = df_search_queries[(df_search_queries['query_date'].dt.year == 2024) & (df_search_queries['query_date'].dt.month == 10)]
df_octubre.head()

   query_id  user_id  clicks  dwell_time_seconds query_date
0         1        1       1                  45 2024-10-03
1         2        2       0                  25 2024-10-06
2         3        3       1                  35 2024-10-11
3         4        4       0                  15 2024-10-16
4         5        5       1                  50 2024-10-21

In [21]:
df_ans1 = df_octubre[(df_octubre['clicks'] > 0) | (df_octubre['dwell_time_seconds'] > 30)]

ans1 = len(df_ans1)

ans1

15

```SQL
SELECT
    count(*)
FROM search_queries
WHERE ( clicks > 0 OR dwell_time_seconds > 30)
AND EXTRACT(MONTH FROM query_date) = 10
AND EXTRACT (YEAR FROM query_date) = 2024;
```

# Pregunta 2

### ¿Puedes averiguar cuántas consultas de búsqueda en octubre de 2024 fueron realizadas por usuarios que hicieron clic en un enlace Y pasaron más de 30 segundos en la página de resultados de búsqueda?

In [24]:
df_search_queries['query_date'] = pd.to_datetime(df_search_queries['query_date'])

df_octubre2 = df_search_queries[(df_search_queries['query_date'].dt.year == 2024) & (df_search_queries['query_date'].dt.month == 10)]

df_octubre2.head()

   query_id  user_id  clicks  dwell_time_seconds query_date
0         1        1       1                  45 2024-10-03
1         2        2       0                  25 2024-10-06
2         3        3       1                  35 2024-10-11
3         4        4       0                  15 2024-10-16
4         5        5       1                  50 2024-10-21

In [26]:
df_ans2 = df_octubre2[(df_octubre2['clicks'] > 0) & (df_octubre2['dwell_time_seconds']>30)]
ans2 = len(df_ans2)

ans2

8

```SQL
 SELECT
    count(*)
FROM search_queries
WHERE (clicks > 0 AND dwell_time_seconds > 30)
AND EXTRACT (YEAR FROM query_date) = 2024
AND EXTRACT (MONTH FROM query_date) = 10;
```

# Pregunta 3

### Para los usuarios que se registraron en la primera semana de octubre de 2024 (por ejemplo, del 1 al 7 de octubre), ¿cuántas consultas de búsqueda realizaron en total?

In [33]:
df_users['signup_date'] = pd.to_datetime(df_users['signup_date'])
df_search_queries['query_date'] = pd.to_datetime(df_search_queries['query_date'])

In [36]:
usuarios_oct_sem1 = df_users[
    (df_users['signup_date'] >= '2024-10-01') &
    (df_users['signup_date'] <= '2024-10-07')
]

In [37]:
df_merged = pd.merge(usuarios_oct_sem1, df_search_queries, on='user_id')

total_busquedas = len(df_merged)

print(f'Total de búsquedas de usuarios neuvos: {total_busquedas}')

Total de búsquedas de usuarios neuvos: 2

```SQL
SELECT
    count(s.query_id)
FROM users u
JOIN search_queries s ON u.user_id = s.user_id
WHERE signup_date BETWEEN '2024-10-01' AND '2024-10-07';
```