# Google - Advertising Campaign Performance and ROI Impact

In [1]:
import pandas as pd
import numpy as np

In [11]:
df_ads = pd.read_csv('Data/004/ad_campaigns.csv')
df_ads.head()

   campaign_id    campaign_name  start_date  conversions  revenue  ad_type
0            1      Spring Sale  2024-04-01          150  1200.50   Search
1            2    Summer Launch  2024-05-05          130   950.00  Display
2            3  April Discounts  2024-04-10          200  1800.75    Video
3            4      May Madness  2024-05-15          110   500.00   Search
4            5      June Offers  2024-06-01            0     0.00  Display

In [4]:
df_ads['start_date'] = pd.to_datetime(df_ads['start_date'])
df_ads_abril = df_ads[
    (df_ads['start_date'].dt.year == 2024) &
    (df_ads['start_date'].dt.month == 4)
]

df_ads_abril.head()

   campaign_id     campaign_name start_date  conversions  revenue   ad_type
0            1       Spring Sale 2024-04-01          150  1200.50    Search
2            3   April Discounts 2024-04-10          200  1800.75     Video
5            6       April Promo 2024-04-20          180  1500.00  Shopping
8            9  April Flash Sale 2024-04-15          160  1300.00   Display

In [5]:
resultado = df_ads_abril.sort_values(by='conversions', ascending=False).head(5)['campaign_id']
resultado

2    3
5    6
8    9
0    1
Name: campaign_id, dtype: int64

```SQL
SELECT
    campaign_id
FROM ad_campaigns
WHERE EXTRACT(YEAR FROM start_date) = 2024
AND EXTRACT (MONTH FROM start_date) = 4
order by conversions desc
LIMIT 5;
```

# Pregunta 2

### Identifica los tipos de anuncios (ad_type) únicos que tuvieron más de 100 conversiones y que comenzaron en mayo de 2024.

In [13]:
df_ads['start_date'] = pd.to_datetime(df_ads['start_date'])
mayo_exitoso = df_ads[
    (df_ads['start_date'].dt.year == 2024) &
    (df_ads['start_date'].dt.month == 5) &
    (df_ads['conversions'] > 100)
]

mayo_exitoso.head()

   campaign_id     campaign_name start_date  conversions  revenue   ad_type
1            2     Summer Launch 2024-05-05          130    950.0   Display
3            4       May Madness 2024-05-15          110    500.0    Search
6            7         May Deals 2024-05-10          105    400.0     Video
9           10  May Extravaganza 2024-05-20          115    600.0  Shopping

In [14]:
tipos_unicos = mayo_exitoso['ad_type'].unique()
tipos_unicos

array(['Display', 'Search', 'Video', 'Shopping'], dtype=object)

```SQL
SELECT
    distinct ad_type
FROM ad_campaigns
WHERE EXTRACT (YEAR FROM start_date) = 2024
AND EXTRACT (MONTH FROM start_date) = 5
AND conversions > 100;
```

# Pregunta 3

### De las campañas que comenzaron en junio de 2024, encuentra aquellas que no generaron ningún ingreso (revenue). Por favor, muestra los nombres de las campañas (campaign_name) y sus fechas de inicio (start_date).

In [17]:
df_ads['start_date'] = pd.to_datetime(df_ads['start_date'])
df_junio = df_ads[
    (df_ads['start_date'].dt.year == 2024) &
    (df_ads['start_date'].dt.month == 6) &
    (df_ads['revenue'] == 0)
]

df_resultado = df_junio[['campaign_name','start_date']]

df_resultado

    campaign_name start_date
4     June Offers 2024-06-01
7    June Bonanza 2024-06-10
10  June Surprise 2024-06-15

```SQL
SELECT
    campaign_name,
    start_date
FROM ad_campaigns
WHERE EXTRACT (YEAR FROM start_date) = 2024
AND EXTRACT (MONTH FROM start_date) = 6
AND revenue = 0;
```