# Amazon - Marketing Segment Strategy Cross-Brand Alignment

```SQL
CREATE TABLE dim_segment (
    segment_id int,
    segment_name varchar,
    description varchar
);

CREATE TABLE brand_score_metrics (
    metric_date date,
    segment_id int,
    key_message varchar,
    brand_score decimal
);

INSERT INTO dim_segment (segment_id, segment_name, description)
VALUES
    (1, 'Retail', 'Consumer retail segment focusing on online shopping'),
    (2, 'AWS', 'Cloud computing services segment'),
    (3, 'Entertainment', 'Digital streaming and media content');

INSERT INTO brand_score_metrics (metric_date, segment_id, key_message, brand_score)
VALUES
    ('2024-10-05', 1, 'Exceptional customer service drives loyalty', 85.5),
    ('2024-10-10', 2, 'Innovative cloud solutions powering business', 92.0),
    ('2024-10-15', 3, 'Quality content with a personal touch', 88.0),
    ('2024-11-02', 2, 'Scalable infrastructure to empower enterprises', 89.0),
    ('2024-11-05', 3, 'Engaging digital narratives win hearts', 81.5),
    ('2024-11-18', 1, 'Convenience meets quality in every delivery', 87.0),
    ('2024-12-01', 2, 'Seamless cloud integration and security', 95.0),
    ('2024-12-12', 3, 'Delivering immersive viewing experiences', 82.0),
    ('2024-12-20', 2, 'Advanced analytics for a smarter future', 90.0),
    ('2024-10-30', 3, 'A vibrant mix of classic and modern storytelling', 79.0),
    ('2024-09-20', 1, 'Pre-Q4 promo boost for holiday season', 84.0),
    ('2024-10-22', 2, 'Pioneering technology in a dynamic market', 88.0),
    ('2024-12-25', 3, 'Festive specials capture family memories', 92.0),
    ('2024-11-30', 2, 'Reliable cloud performance even under pressure', 91.5),
    ('2024-12-28', 3, 'Entertaining audiences with groundbreaking series', 83.0);
```

In [1]:
import pandas as pd    
import numpy as np

In [5]:
df_segment = pd.read_csv('Data/005/dim_segment.csv')
df_brand = pd.read_csv('Data/005/brand_score_metrics.csv')

In [3]:
df_segment.head()

,segment_id,segment_name,description
0,1,Retail,Consumer retail segment focusing on online sho...
1,2,AWS,Cloud computing services segment
2,3,Entertainment,Digital streaming and media content

In [6]:
df_brand.head()

,metric_date,segment_id,key_message,brand_score
0,2024-10-05,1,Exceptional customer service drives loyalty,85.5
1,2024-10-10,2,Innovative cloud solutions powering business,92.0
2,2024-10-15,3,Quality content with a personal touch,88.0
3,2024-11-02,2,Scalable infrastructure to empower enterprises,89.0
4,2024-11-05,3,Engaging digital narratives win hearts,81.5

# Pregunta 1

### El equipo de Marketing quiere comenzar su evaluación de los mensajes de marca para el cuarto trimestre (Q4) de 2024. ¿Podrías proporcionar una lista de los mensajes clave (key_message) y los detalles del puntaje de marca (brand_score) registrados entre el 1 de octubre de 2024 y el 31 de diciembre de 2024?

In [7]:
df_brand['metric_date'] = pd.to_datetime(df_brand['metric_date'])

filtro_q4 = (df_brand['metric_date'] >= '2024-10-01') & (df_brand['metric_date'] <= '2024-12-31')

reporte_q4 = df_brand.loc[filtro_q4, ['key_message','brand_score']]

reporte_q4

                                          key_message  brand_score
0         Exceptional customer service drives loyalty         85.5
1        Innovative cloud solutions powering business         92.0
2               Quality content with a personal touch         88.0
3      Scalable infrastructure to empower enterprises         89.0
4              Engaging digital narratives win hearts         81.5
5         Convenience meets quality in every delivery         87.0
6             Seamless cloud integration and security         95.0
7            Delivering immersive viewing experiences         82.0
8             Advanced analytics for a smarter future         90.0
9    A vibrant mix of classic and modern storytelling         79.0
11          Pioneering technology in a dynamic market         88.0
12           Festive specials capture family memories         92.0
13     Reliable cloud performance even under pressure         91.5
14  Entertaining audiences with groundbreaking series         83.0

```SQL
SELECT
    key_message,
    brand_score
FROM brand_score_metrics
WHERE metric_date BETWEEN '2024-10-01' AND '2024-12-31';
```

# Pregunta 2

### Para un análisis más enfocado, el equipo de Marketing necesita los mensajes clave (key_message) y los detalles del puntaje de marca (brand_score) para el segmento AWS (representado por segment_id = 2) en el cuarto trimestre (Q4) de 2024, pero solo para los registros donde el puntaje de marca sea igual o superior a 90. ¿Podrías recuperar estos detalles?

In [11]:
df_aws_top = df_brand[
    (df_brand['metric_date'].between('2024-10-01','2024-12-31')) &
    (df_brand['segment_id'] == 2) &
    (df_brand['brand_score'] >= 90)
]

resultado = df_aws_top[['key_message','brand_score']]

resultado

                                       key_message  brand_score
1     Innovative cloud solutions powering business         92.0
6          Seamless cloud integration and security         95.0
8          Advanced analytics for a smarter future         90.0
13  Reliable cloud performance even under pressure         91.5

```SQL
SELECT
    key_message,
    brand_score
FROM brand_score_metrics
WHERE metric_date BETWEEN '2024-10-01' AND '2024-12-31'
AND segment_id = 2
AND brand_score >= 90;
```

# Pregunta 3

### Para revisar rápidamente un resumen de los hallazgos, al equipo de Marketing le gustaría ver una muestra de los mensajes clave (key_message) y los detalles del puntaje de marca (brand_score) para el segmento de Entretenimiento (representado por segment_id = 3) con un puntaje de marca superior a 80. ¿Podrías proporcionar los 5 registros más recientes que cumplan con estos criterios?

In [12]:
df_ent = df_brand[
    (df_brand['segment_id'] == 3) &
    (df_brand['brand_score'] > 80)
]

resultado = df_ent.sort_values(by='metric_date', ascending=False).head(5)

resultado = resultado[['key_message','brand_score']]

resultado

                                          key_message  brand_score
14  Entertaining audiences with groundbreaking series         83.0
12           Festive specials capture family memories         92.0
7            Delivering immersive viewing experiences         82.0
4              Engaging digital narratives win hearts         81.5
2               Quality content with a personal touch         88.0

```SQL
SELECT
    key_message,
    brand_score
FROM brand_score_metrics
WHERE segment_id = 3
AND brand_score > 80
ORDER BY metric_date desc
LIMIT 5;
```