# Amazon - Prime Video Content Performance by Category

```SQL
CREATE TABLE content_views_daily_agg (
    content_id integer,
    category varchar,
    view_date date,
    views integer
);

INSERT INTO content_views_daily_agg (content_id, category, view_date, views)
VALUES
    (101, 'Action', '2024-07-15', 60000),
    (101, 'Action', '2024-08-05', 50000),
    (101, 'Action', '2024-09-10', 300000),
    (101, 'Action', '2024-09-20', 250000),
    (102, 'Drama', '2024-08-12', 40000),
    (102, 'Drama', '2024-09-15', 35000),
    (102, 'Drama', '2024-09-25', 45000),
    (102, 'Drama', '2024-07-20', 15000),
    (103, 'Comedy', '2024-08-18', 25000),
    (103, 'Comedy', '2024-08-28', 30000),
    (103, 'Comedy', '2024-09-05', 20000),
    (103, 'Comedy', '2024-07-22', 15000),
    (104, 'Thriller', '2024-08-31', 120000),
    (104, 'Thriller', '2024-09-12', 150000),
    (104, 'Thriller', '2024-07-10', 50000),
    (105, 'Documentary', '2024-08-22', 20000),
    (105, 'Documentary', '2024-09-25', 30000),
    (105, 'Documentary', '2024-07-30', 10000);

In [1]:
import pandas as pd   
import numpy as np

In [2]:
df_content = pd.read_csv('Data/006/content_views_daily_agg.csv')
df_content.head()

   content_id category   view_date   views
0         101   Action  2024-07-15   60000
1         101   Action  2024-08-05   50000
2         101   Action  2024-09-10  300000
3         101   Action  2024-09-20  250000
4         102    Drama  2024-08-12   40000

# Pregunta 1

### ¿Cuál es el total acumulado de eventos de visualización para cada categoría de contenido en agosto de 2024? Esta información ayudará al equipo de Prime Video a entender qué géneros de contenido están captando más usuarios durante ese mes

In [4]:
df_content['view_date'] = pd.to_datetime(df_content['view_date'])
df_agosto = df_content[
    (df_content['view_date'].dt.year == 2024) &
    (df_content['view_date'].dt.month == 8)
]

resultado = df_agosto.groupby('category')['views'].sum().reset_index()

resultado

      category   views
0       Action   50000
1       Comedy   55000
2  Documentary   20000
3        Drama   40000
4     Thriller  120000

```SQL
SELECT
    category,
    SUM(views)
FROM content_views_daily_agg
WHERE EXTRACT (YEAR FROM view_date) = 2024
AND EXTRACT (MONTH FROM view_date) = 8
GROUP BY  category;
```

# Pregunta 2

### ¿Qué categorías de contenido acumularon más de 100,000 vistas totales durante el tercer trimestre (Q3) de 2024? Este análisis ayudará a identificar los géneros que están atrayendo un alto volumen de interacción por parte de los espectadores.

In [7]:
df_q3 = df_content[df_content['view_date'].between('2024-07-01','2024-09-30')]

category_totals = df_q3.groupby('category')['views'].sum().reset_index()

resultado = category_totals[category_totals['views'] > 100000]

resultado['category']

0      Action
3       Drama
4    Thriller
Name: category, dtype: object

```SQL
SELECT
    category
FROM content_views_daily_agg
WHERE view_date BETWEEN '2024-07-01' AND '2024-09-30'
GROUP BY category
HAVING sum(views) > 100000;
```

# Pregunta 3

### En septiembre de 2024, para las categorías de contenido que recibieron más de 500,000 vistas acumuladas, ¿cuál es el total de vistas del mes para cada una de esas categorías?

In [13]:
df_september = df_content[df_content['view_date'].between('2024-09-01','2024-09-30')]

resultado = df_september.groupby('category')['views'].sum().reset_index()

resultado_final = resultado[resultado['views'] > 500000]

resultado_final

  category   views
0   Action  550000

```SQL
SELECT
    category,
    SUM(views) AS total_september_views
FROM content_views_daily_agg
WHERE EXTRACT (YEAR FROM view_date) = 2024
AND EXTRACT (MONTH FROM view_date) = 9
GROUP BY  category
HAVING sum(views) > 500000;
```