# Airbnb - Stays Host Communication Response Time Performance

In [3]:
import pandas as pd  
import numpy as np

In [4]:
df_guest = pd.read_csv('Data/009/fct_guest_inquiries.csv')
df_guest.head()

   inquiry_id  host_id  guest_id inquiry_date  response_time_hours
0           1      101       201   2024-01-01                  0.5
1           2      101       202   2024-01-05                  1.0
2           3      102       203   2024-01-10                  2.5
3           4      103       204   2024-01-16                  3.0
4           5      101       205   2024-01-18                  1.5

# Pregunta 1

### ¿Cuál es el tiempo mínimo de respuesta de los anfitriones (en horas) para las consultas de los huéspedes en enero de 2024? Esta métrica ayudará a identificar si algún anfitrión está estableciendo un estándar de respuesta excepcionalmente rápido.

In [7]:
df_guest['inquiry_date'] = pd.to_datetime(df_guest['inquiry_date'])
df_enero = df_guest[
    (df_guest['inquiry_date'].dt.year == 2024) &
    (df_guest['inquiry_date'].dt.month == 1)
]

resultado1 = df_enero['response_time_hours'].min()
    
resultado1
# end main

np.float64(0.5)

```SQL
SELECT
    min(response_time_hours)
FROM fct_guest_inquiries
WHERE EXTRACT(YEAR FROM inquiry_date) = 2024
AND EXTRACt(MONTH FROM inquiry_date) = 1;
```

# Pregunta 2

### Para las consultas de los huéspedes realizadas en enero de 2024, ¿cuál es el tiempo promedio de respuesta de los anfitriones redondeado a la hora más cercana? Este promedio proporcionará información sobre la capacidad de respuesta general de los anfitriones.

In [10]:
df_enero = df_guest[df_guest['inquiry_date'].between('2024-01-01','2024-01-31')]

resultado = round(df_enero['response_time_hours'].mean())

resultado

2

```SQL
 SELECT
    round((SUM(response_time_hours)/COUNT(response_time_hours))::numeric,0)
FROM fct_guest_inquiries
WHERE inquiry_date BETWEEN '2024-01-01' AND '2024-01-31';
```

# Pregunta 3

### Enumera el inquiry_id y el response_time_hours para las consultas de los huéspedes realizadas entre el 16 y el 31 de enero de 2024 que tardaron más de 2 horas en ser respondidas. Este desglose ayudará a identificar con precisión a los anfitriones con tiempos de respuesta más lentos.

In [18]:
df_enero3 = df_guest[
    (df_guest['inquiry_date'].between('2024-01-16','2024-01-31')) &
    (df_guest['response_time_hours'] > 2)
    ]

respuesta = df_enero3[['inquiry_id','response_time_hours']]

respuesta

    inquiry_id  response_time_hours
3            4                  3.0
5            6                  2.1
6            7                  4.0
8            9                  3.5
9           10                  2.5
13          14                  2.3

```SQL
SELECT
    inquiry_id,
    response_time_hours
FROM fct_guest_inquiries
WHERE inquiry_date BETWEEN '2024-01-16' AND '2024-01-31'
AND response_time_hours > 2;
```