# Stripe - Subscription Churn Impact on Recurring Revenue

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_subscription = pd.read_csv('Data/010/fct_subscriptions.csv')
df_subscription.head()

   subscription_id  customer_id   tier_name  start_date    end_date
0                1          101       Basic  2024-01-15  2024-07-10
1                2          102     Premium  2024-03-01  2024-08-05
2                3          103  Enterprise  2024-02-20  2024-07-20
3                4          104        Plus  2024-04-10  2024-09-15
4                5          105    Standard  2024-05-15         NaN

# Pregunta 1

### Identifica los primeros 3 niveles (tiers) de suscripción en orden alfabético. No olvides eliminar los valores duplicados. Esta consulta nos ayudará a entender qué valores existen en la columna tier_name.

In [5]:
df_tier = df_subscription[['tier_name']].drop_duplicates().sort_values(by='tier_name', ascending=True).head(3)

df_tier

    tier_name
0       Basic
2  Enterprise
3        Plus

```SQL
SELECT
    distinct tier_name
FROM fct_subscriptions
ORDER BY tier_name
LIMIT 3;
```

# Pregunta 2

### Determina cuántos clientes cancelaron sus suscripciones en agosto de 2024 para los niveles (tiers) etiquetados como 'Basic' o 'Premium'. Esta consulta se utiliza para evaluar las tendencias de cancelación en estos niveles de suscripción específicos.

```SQL
SELECT 
    COUNT(customer_id) AS total_cancellations
FROM fct_subscriptions
WHERE EXTRACT(YEAR FROM end_date) = 2024
  AND EXTRACT(MONTH FROM end_date) = 8
  AND tier_name IN ('Basic', 'Premium');
```

#020713
#020816
#3465a5
#0ba8b3
#6f976a
#5fbf9f
#d3d7cf
#ff5722
#ffbf3f
#b274ac
#be9f7e