# Walmart - Photo Center: Personalized Gift Performance Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_photo = pd.read_csv('Data/011/photo_gift_sales_2.csv')
df_photo.head()

   transaction_id  customer_id  product_id purchase_date  quantity
0            1001            1         101    2024-04-05         2
1            1002            2         102    2024-04-10         1
2            1003            1         101    2024-04-15         3
3            1004            3         103    2024-04-20         5
4            1005            4         104    2024-04-08         4

# Pregunta 1

### Para cada producto de regalo fotográfico personalizado, ¿cuál es la cantidad total comprada en abril de 2024? Este resultado proporcionará una medida clara del rendimiento del producto para nuestras estrategias de inventario.

In [9]:
df_photo['purchase_date'] = pd.to_datetime(df_photo['purchase_date'])
df_abril = df_photo[
    (df_photo['purchase_date'].dt.year == 2024) &
    (df_photo['purchase_date'].dt.month == 4)
]

resultado = df_abril.groupby('product_id')['quantity'].sum().reset_index()

resultado

   product_id  quantity
0         101         7
1         102         8
2         103         7
3         104         7

```SQL
SELECT
    product_id,
    SUM(quantity) AS total_quantity
FROM fct_photo_gift_sales
WHERE EXTRACT (YEAR FROM purchase_date) = 2024
AND EXTRACT (MONTH FROM purchase_date) = 4
GROUP BY product_id;
```

# Pregunta 2

### ¿Cuál es la cantidad máxima de regalos fotográficos personalizados comprados en una sola transacción durante abril de 2024? Esta información resaltará el comportamiento de compra máximo para transacciones individuales.

In [11]:
df_abril = df_photo[df_photo['purchase_date'].between('2024-04-01','2024-04-30')]

resutlado = df_abril.groupby('transaction_id')['quantity'].sum().max()

resutlado

np.int64(6)

```SQL
SELECT MAX(total_por_transaccion)
FROM (
    SELECT transaction_id, SUM(quantity) AS total_por_transaccion
    FROM fct_photo_gift_sales
    WHERE purchase_date BETWEEN '2024-04-01' AND '2024-04-30'
    GROUP BY transaction_id
) as subconsulta;
```

# Pregunta 3

### ¿Cuál es el promedio general de regalos fotográficos personalizados comprados por cliente durante abril de 2024? Es decir, para cada cliente, calcula el número total de regalos que compró en abril de 2024; luego, devuelve el promedio de esos valores entre todos los clientes.

In [13]:
totales_por_cliente = df_abril.groupby('customer_id')['quantity'].sum()

promedio_final = totales_por_cliente.mean()

promedio_final

np.float64(4.833333333333333)

```SQL
SELECT
    AVG(total_cliente) AS promedio_final
FROM (
    SELECT
        customer_id,
        SUM(quantity) AS total_cliente
    FROM fct_photo_gift_sales
    WHERE purchase_date BETWEEN '2024-04-01' AND '2024-04-30'
    GROUP BY customer_id
     ) AS subquery;
```