# GPT-4 Response Context Depth Analysis

```SQL
CREATE TABLE fct_context_retention (
    inquiry_type VARCHAR,
    context_retention_score FLOAT,
    response_date DATE,
    model_name VARCHAR
);

INSERT INTO fct_context_retention (inquiry_type, context_retention_score, response_date, model_name)
VALUES
    ('legal', 85.5, '2024-04-03', 'GPT-4'),
    ('finance', 78.2, '2024-04-05', 'GPT-4'),
    ('tech', 92.7, '2024-04-08', 'GPT-4'),
    ('health', 80.0, '2024-04-10', 'GPT-4'),
    ('engineering', 88.9, '2024-04-12', 'GPT-4'),
    ('legal', 90.1, '2024-04-15', 'GPT-4'),
    ('finance', 75.5, '2024-04-18', 'GPT-4'),
    ('tech', 95.4, '2024-04-20', 'GPT-4'),
    ('health', 82.3, '2024-04-22', 'GPT-4'),
    ('engineering', 87.6, '2024-04-25', 'GPT-4'),
    ('legal', 84.0, '2024-04-27', 'GPT-4'),
    ('engineering', 89.3, '2024-04-28', 'GPT-4'),
    ('tech', 91.0, '2024-04-29', 'GPT-4'),
    ('finance', 76.8, '2024-04-30', 'GPT-4'),
    ('finance', 65.0, '2024-04-11', 'GPT-3.5'),
    ('tech', 88.8, '2024-05-01', 'GPT-4'),
    ('legal', 79.9, '2024-03-30', 'GPT-4');
```

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_context = pd.read_csv('Data/014/fct_context_retention.csv')
df_context.head()

  inquiry_type  context_retention_score response_date model_name
0        legal                     85.5    2024-04-03      GPT-4
1      finance                     78.2    2024-04-05      GPT-4
2         tech                     92.7    2024-04-08      GPT-4
3       health                     80.0    2024-04-10      GPT-4
4  engineering                     88.9    2024-04-12      GPT-4

# Pregunta 1

### ¿Cuál es el puntaje promedio de retención de contexto para las respuestas de GPT-4 en abril de 2024? Esto nos ayudará a determinar una medida base de la complejidad de las respuestas de GPT-4.

In [5]:
df_abril = df_context[
    (df_context['response_date'].between('2024-04-01','2024-04-30')) &
    (df_context['model_name'] == 'GPT-4')
] 

respuesta = df_abril['context_retention_score'].mean()

respuesta

np.float64(85.52142857142857)

```SQL
SELECT
    AVG(context_retention_score)::numeric AS avg_score
FROM fct_context_retention
WHERE response_date BETWEEN '2024-04-01' AND '2024-04-30'
AND model_name = 'GPT-4';
```

# Pregunta 2

### ¿Cuál es el puntaje de retención de contexto más alto registrado por GPT-4 para el tipo de consulta 'legal' en abril de 2024? Esto resaltará el desempeño máximo en términos de procesamiento contextual.

In [7]:
df_abril = df_context[
    (df_context['response_date'].between('2024-04-01','2024-04-30')) &
    (df_context['inquiry_type'] == 'legal') &
    (df_context['model_name'] == 'GPT-4')
]

respuesta2 = df_abril['context_retention_score'].max()

respuesta2

np.float64(90.1)

```SQL
SELECT
    MAX(context_retention_score)
FROM fct_context_retention
WHERE response_date BETWEEN '2024-04-01' AND '2024-04-30'
AND inquiry_type = 'legal'
AND model_name = 'GPT-4';
```

# Pregunta 3

### ¿Cuál es el puntaje promedio de retención de contexto para cada tipo de consulta en las respuestas de GPT-4 en abril de 2024, redondeado a dos decimales? Este desglose informará directamente qué dominios de consulta podrían necesitar mejoras en la comprensión contextual de GPT-4.

In [8]:
df_abril3 = df_context[
    (df_context['response_date'].between('2024-04-01','2024-04-30')) &
    (df_context['model_name'] == 'GPT-4')
]

respuesta3 = df_abril3.groupby('inquiry_type', as_index=False)['context_retention_score'].mean().round(2)

respuesta3

  inquiry_type  context_retention_score
0  engineering                    88.60
1      finance                    76.83
2       health                    81.15
3        legal                    86.53
4         tech                    93.03

```SQL
SELECT
    inquiry_type,
    ROUND(AVG(context_retention_score)::numeric, 2) AS avg_context_inquiry_type
FROM fct_context_retention
WHERE response_date BETWEEN '2024-04-01' AND '2024-04-30'
AND model_name = 'GPT-4'
GROUP BY inquiry_type;
```