# PayPal - One Touch Conversion Performance for Mobile Shoppers

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_mobile = pd.read_csv('Data/017/fct_mobile_transactions.csv')
df_mobile.head()

   transaction_id  user_id transaction_date login_method transaction_status
0            1001        1       2024-07-01    One Touch            Success
1            1002        2       2024-07-02     Standard            Success
2            1003        3       2024-07-03    one touch            Success
3            1004        1       2024-07-04     STANDARD             Failed
4            1005        4       2024-07-05    One Touch            Success

# Pregunta 1

### Para nuestro análisis de la función PayPal One Touch, ¿cuál es el número total de transacciones móviles que utilizaron 'One Touch' durante julio de 2024? Notarás que el campo login_method no tiene una capitalización consistente (mayúsculas/minúsculas), ¡así que asegúrate de tener esto en cuenta en tu consulta!

In [3]:
df_mobile['transaction_date'] = pd.to_datetime(df_mobile['transaction_date'])
df_julio = df_mobile[
    (df_mobile['transaction_date'].dt.year == 2024) &
    (df_mobile['transaction_date'].dt.month == 7) &
    (df_mobile['login_method'].str.lower() == 'one touch')
]

respuesta1 = df_julio['transaction_id'].count()

respuesta1

np.int64(9)

```SQL
SELECT
    count(transaction_id)
FROM fct_mobile_transactions
WHERE EXTRACT (YEAR FROM transaction_date) = 2024
AND EXTRACT (MONTH FROM transaction_date) = 7
AND LOWER(login_method) = 'one touch';
```

# Pregunta 2

### Para determinar la adopción de la función One Touch por parte de los usuarios, ¿cuántos usuarios distintos tuvieron transacciones móviles exitosas utilizando One Touch durante julio de 2024? Renombra la columna del conteo de usuarios como 'Unique_Users'. Esta información respaldará nuestra investigación sobre el compromiso (engagement) con las transacciones.

In [7]:
df_julio = df_mobile[
    (df_mobile['transaction_date'].between('2024-07-01','2024-07-31')) &
    (df_mobile['login_method'].str.lower() == 'one touch') &
    (df_mobile['transaction_status'] == 'Success')
    ]

respuseta2 = df_julio['user_id'].nunique()

respuseta2

7

```SQL
SELECT
    COUNT(DISTINCT user_id) AS Unique_Users
FROM fct_mobile_transactions
WHERE transaction_date BETWEEN '2024-07-01' AND '2024-07-31'
  AND LOWER(login_method) = 'one touch'
  AND transaction_status = 'Success';

# Pregutna 3

### Queremos entender la adopción de las funciones One Touch frente a Standard. ¿Cuántas transacciones exitosas hubo en julio de 2024 para One Touch y Standard respectivamente? Recuerda que los datos en login_method tienen un uso de mayúsculas inconsistente, ¡así que queremos solucionar esto!

In [9]:
df_success = df_mobile[
    (df_mobile['transaction_date'].between('2024-07-01','2024-07-31')) &
    (df_mobile['transaction_status'] == 'Success')
].copy()

df_success['login_method_clean'] = df_success['login_method'].str.lower()

resultado3 = (
    df_success[df_success['login_method_clean'].isin(['one touch','standard'])].groupby('login_method_clean', as_index=False).size()
)

resultado3

  login_method_clean  size
0          one touch     8
1           standard     4

```SQL
SELECT
    LOWER(login_method) AS login_method,
    count(transaction_status) AS transaction_status
FROM fct_mobile_transactions
WHERE transaction_date BETWEEN '2024-07-01' AND '2024-07-31'
AND transaction_status = 'Success'
AND LOWER(login_method) in ('one touch', 'standard')
GROUP BY LOWER(login_method);
```