# Netflix - Employee Retention and Satisfaction

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_employee = pd.read_csv('Data/019/employee_satisfaction.csv')
df_employee.head()

,employee_id,department_id,job_category_id,satisfaction_score,evaluation_date
0,1,1,1,4.5,2024-10-15
1,2,1,2,3.8,2024-10-15
2,3,2,1,4.2,2024-10-15
3,4,2,3,3.5,2024-10-15
4,5,3,2,4.9,2024-10-15

# Pregunta 1

### El equipo de Recursos Humanos quiere entender el puntaje de satisfacción promedio de los empleados en los diferentes departamentos. ¿Puedes proporcionar el puntaje de satisfacción promedio redondeado hacia abajo al número entero más cercano para cada departamento?

In [5]:
df_department = df_employee.groupby('department_id')['satisfaction_score'].mean().reset_index()

df_department['avg_floor_satisfaction'] = np.floor(df_department['satisfaction_score']).astype(int)

df_department

   department_id  satisfaction_score  avg_floor_satisfaction
0              1            3.925000                       3
1              2            3.866667                       3
2              3            4.400000                       4

```SQL
SELECT
    department_id,
    FLOOR(avg(satisfaction_score)) AS avg_floor_satisfaction
FROM employee_satisfaction
GROUP BY department_id ;
```

# Pregunta 2

### Además del análisis anterior, el equipo de Recursos Humanos está interesado en conocer el puntaje de satisfacción promedio redondeado hacia arriba al número entero más cercano para cada categoría de trabajo. ¿Puedes calcular esto utilizando los mismos datos?

In [9]:
df_category = df_employee.groupby('job_category_id')['satisfaction_score'].mean().reset_index()

df_category['avg_ceil_satisfaction_category'] = np.ceil(df_category['satisfaction_score']).astype(int)

df_category

   job_category_id  satisfaction_score  avg_ceil_satisfaction_category
0                1            4.325000                               5
1                2            4.200000                               5
2                3            3.533333                               4

```SQL
SELECT
    job_category_id,
    CEIL(avg(satisfaction_score)) AS avg_ceil_satisfaction_category
FROM employee_satisfaction
GROUP BY job_category_id;
```

# Pregunta 3 

### El equipo de Recursos Humanos desea un informe consolidado que incluya tanto el promedio de satisfacción redondeado hacia abajo como el redondeado hacia arriba para cada departamento y categoría de trabajo. Por favor, renombra las columnas apropiadamente a 'Floor_Avg_Satisfaction' y 'Ceil_Avg_Satisfaction'.

In [11]:
df_satisfaction = df_employee.groupby(['department_id','job_category_id'])['satisfaction_score'].mean().reset_index()

df_satisfaction['Floor_Avg_Satisfaction'] = np.floor(df_satisfaction['satisfaction_score']).astype(int)
df_satisfaction['Ceil_Avg_Satisfaction'] = np.ceil(df_satisfaction['satisfaction_score']).astype(int)

respuesta3 = df_satisfaction.drop(columns=['satisfaction_score'])

respuesta3

,department_id,job_category_id,Floor_Avg_Satisfaction,Ceil_Avg_Satisfaction
0,1,1,4,5
1,1,2,3,4
2,1,3,3,4
3,2,1,4,5
4,2,2,3,4
5,2,3,3,4
6,3,1,4,5
7,3,2,4,5
8,3,3,3,4

```SQL
SELECT
    department_id,
    job_category_id,
    FLOOR(avg(satisfaction_score)) AS Floor_Avg_Satisfaction,
    CEIL(avg(satisfaction_score)) AS Ceil_Avg_Satisfaction
FROM employee_satisfaction
GROUP BY department_id, job_category_id;
```