# Netflix - User Engagement in Interactive Content

```SQL
CREATE TABLE choices_made (
    choice_id INTEGER,
    viewer_id INTEGER,
    choice_description VARCHAR,
    choice_date DATE
);

CREATE TABLE viewer_interactions (
    interaction_id INTEGER,
    viewer_id INTEGER,
    content_id INTEGER,
    interaction_type VARCHAR,
    interaction_date DATE
);

INSERT INTO choices_made (choice_id, viewer_id, choice_description, choice_date)
VALUES
    (1, 101, 'Go left', '2024-10-06'),
    (2, 102, 'Take the stairs', '2024-10-16'),
    (3, 103, 'Enter the cave', '2024-11-04'),
    (4, 104, 'Climb the mountain', '2024-11-21'),
    (5, 105, 'Explore the forest', '2024-12-08'),
    (6, 106, 'Swim across the river', '2024-10-23'),
    (7, 107, 'Light the torch', '2024-11-12'),
    (8, 108, 'Take the bridge', '2024-12-26'),
    (9, 109, 'Open the door', '2024-10-31'),
    (10, 110, 'Follow the trail', '2024-11-18'),
    (11, 102, 'Take the elevator', '2024-12-06'),
    (12, 103, 'Run away', '2024-10-10'),
    (13, 104, 'Hide in the bushes', '2024-11-24'),
    (14, 105, 'Climb the tree', '2024-12-20'),
    (15, 106, 'Light a fire', '2024-10-24');


INSERT INTO viewer_interactions (interaction_id, viewer_id, content_id, interaction_type, interaction_date)
VALUES
    (1, 101, 1, 'pause', '2024-10-05'),
    (2, 102, 2, 'choice', '2024-10-15'),
    (3, 103, 3, 'pause', '2024-11-03'),
    (4, 104, 4, 'choice', '2024-11-20'),
    (5, 105, 5, 'pause', '2024-12-07'),
    (6, 101, 1, 'choice', '2024-12-18'),
    (7, 106, 2, 'pause', '2024-10-22'),
    (8, 107, 3, 'choice', '2024-11-11'),
    (9, 108, 4, 'pause', '2024-12-25'),
    (10, 109, 5, 'choice', '2024-10-30'),
    (11, 110, 1, 'pause', '2024-11-17'),
    (12, 102, 2, 'choice', '2024-12-05'),
    (13, 103, 3, 'pause', '2024-10-09'),
    (14, 104, 4, 'choice', '2024-11-23'),
    (15, 105, 5, 'pause', '2024-12-19');

```

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_choices = pd.read_csv('Data/020/choices_made.csv')
df_viewer = pd.read_csv('Data/020/viewer_interactions.csv')

df_choices.head()

   choice_id  viewer_id  choice_description choice_date
0          1        101             Go left  2024-10-06
1          2        102     Take the stairs  2024-10-16
2          3        103      Enter the cave  2024-11-04
3          4        104  Climb the mountain  2024-11-21
4          5        105  Explore the forest  2024-12-08

In [3]:
df_viewer.head()

   interaction_id  viewer_id  content_id interaction_type interaction_date
0               1        101           1            pause       2024-10-05
1               2        102           2           choice       2024-10-15
2               3        103           3            pause       2024-11-03
3               4        104           4           choice       2024-11-20
4               5        105           5            pause       2024-12-07

# Pregunta 1

### Utilizando la tabla viewer_interactions, ¿cuántos espectadores únicos han interactuado con cualquier contenido interactivo en octubre de 2024? ¿Puedes encontrar el número de espectadores distintos?

In [4]:
df_viewer['interaction_date'] = pd.to_datetime(df_viewer['interaction_date'])

df_octubre = df_viewer[
    (df_viewer['interaction_date'].dt.year == 2024) &
    (df_viewer['interaction_date'].dt.month == 10)
]

respuesta1 = df_octubre['viewer_id'].nunique()

respuesta1

5

```SQL
SELECT
    COUNT(DISTINCT viewer_id) AS total_unique_viewers
FROM viewer_interactions
WHERE EXTRACT(YEAR FROM interaction_date) = 2024
  AND EXTRACT(MONTH FROM interaction_date) = 10;
  ```

# Pregunta 2

### Para entender las preferencias de los espectadores, el equipo desea una lista de todas las elecciones únicas realizadas por los espectadores en noviembre de 2024. ¿Puedes proporcionar esta lista ordenada alfabéticamente por la descripción de la elección?

In [21]:
df_choices['choice_date'] = pd.to_datetime(df_choices['choice_date'])

df_noviembre = df_choices[
    (df_choices['choice_date'].dt.year == 2024) &
    (df_choices['choice_date'].dt.month == 11)
]

lista_final = pd.DataFrame(sorted(df_noviembre['choice_description'].unique()), columns=['choice_description'])

lista_final

   choice_description
0  Climb the mountain
1      Enter the cave
2    Follow the trail
3  Hide in the bushes
4     Light the torch

```SQL
SELECT
    distinct choice_description
FROM choices_made
WHERE EXTRACT (YEAR FROM choice_date) = 2024
AND EXTRACT (MONTH FROM choice_date) = 11
ORDER BY choice_description;
```

# Pregunta 3

### El equipo está interesado en entender qué espectadores interactuaron con el contenido pausando el video en diciembre de 2024. ¿Puedes proporcionar una lista de los IDs de los espectadores que realizaron esta acción?

In [24]:
df_viewer['interaction_date'] = pd.to_datetime(df_viewer['interaction_date'])

df_diciembre = df_viewer[
    (df_viewer['interaction_date'].dt.year == 2024) &
    (df_viewer['interaction_date'].dt.month == 12) &
    (df_viewer['interaction_type'] == 'pause')
]

respuesta3 = df_diciembre['viewer_id'].unique

respuesta3

<bound method Series.unique of 4     105
8     108
14    105
Name: viewer_id, dtype: int64>

```SQL
SELECT
    distinct viewer_id
FROM viewer_interactions
WHERE EXTRACT (YEAR FROM interaction_date) = 2024
AND EXTRACT (MONTH FROM interaction_date) = 12
AND interaction_type = 'pause';
```