# Apple - Music Discovery Performance for New Artists

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_practica = pd.read_csv('Data/021/practica_public_fct_rtist_recommendations.csv')
df_practica.head()

   recommendation_id  user_id  artist_id recommendation_date  is_new_artist
0                  1      101        201          2024-04-01          False
1                  2      102        202          2024-04-02           True
2                  3      101        203          2024-04-15           True
3                  4      103        201          2024-04-20          False
4                  5      104        204          2024-04-25           True

# Pregunta 1

### ¿Cuántos artistas únicos fueron recomendados a los usuarios en abril de 2024? Este análisis ayudará a determinar la diversidad de las recomendaciones durante ese mes.

In [4]:
df_abril = df_practica[
    (df_practica['recommendation_date'].between('2024-04-01','2024-04-30'))
]

respuesta1 = len(df_abril['artist_id'].unique())

respuesta1

4

```SQL
SELECT
    count(distinct artist_id) AS unique_artist
FROM fct_artist_recommendations
WHERE recommendation_date BETWEEN '2024-04-01' AND '2024-04-30';
```

# Pregunta 2

### ¿Cuál es el número total de recomendaciones de nuevos artistas en mayo de 2024? Esta información ayudará a evaluar si nuestro enfoque en el talento emergente está funcionando de manera efectiva.

In [8]:
df_mayo = df_practica[
    (df_practica['recommendation_date'].between('2024-05-01','2024-05-31')) &
    (df_practica['is_new_artist'] == True)
]

respuesta2 = df_mayo['recommendation_id'].count()

respuesta2

np.int64(4)

```SQL
SELECT
    count(recommendation_id)
FROM fct_artist_recommendations
WHERE recommendation_date BETWEEN '2024-05-01' AND '2024-05-31'
AND is_new_artist = true;
```

# Pregunta 3

### Para cada mes del segundo trimestre de 2024 (de abril a junio de 2024), ¿cuántos nuevos artistas distintos fueron recomendados a los usuarios? Este desglose ayudará a identificar tendencias en las recomendaciones de nuevos artistas a lo largo del trimestre.

In [11]:
df_practica['recommendation_date'] = pd.to_datetime(df_practica['recommendation_date'])

df_q2 = df_practica[
    (df_practica['recommendation_date'].dt.month.isin([4,5,6])) &
    (df_practica['is_new_artist']==True)
]

reporte = df_q2.groupby(df_q2['recommendation_date'].dt.month)['artist_id'].nunique().reset_index()

reporte.columns = ['mes', 'nuevos artistas unicos']

reporte

   mes  nuevos artistas unicos
0    4                       3
1    5                       3
2    6                       3

```SQL
SELECT
    EXTRACT(MONTH FROM recommendation_date) AS mes,
    COUNT(DISTINCT artist_id) AS nuevos_artistas_unicos
FROM fct_artist_recommendations
WHERE recommendation_date BETWEEN '2024-04-01' AND '2024-06-30'
  AND is_new_artist = true
GROUP BY mes
ORDER BY mes;
```