# Electronic Arts - Game Library Health for User Retention

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_dim = pd.read_csv('Data/023/dim_users.csv')
df_fct_user = pd.read_csv('Data/023/fct_user_game_activity.csv')

df_dim.head()

   user_id  has_game_installed library_last_updated  installed_games_count
0        1               False           2024-07-05                      0
1        2               False           2024-07-10                      0
2        3               False           2024-07-15                      0
3        4               False           2024-07-20                      0
4        5               False           2024-07-25                      0

In [3]:
df_fct_user.head()

   user_id  game_id install_date last_played_date
0        2      101   2024-07-01       2024-07-02
1        4      101   2024-07-02       2024-07-03
2        6      101   2024-07-03       2024-07-04
3        8      101   2024-07-04       2024-07-05
4       10      101   2024-07-05       2024-07-06

# Pregunta 1

### ¿Cuántos usuarios no tienen juegos instalados en su biblioteca durante el tercer trimestre de 2024? Utiliza la tabla dim_users y filtra por los usuarios donde has_game_installed es 0 y la fecha library_last_updated esté entre julio y septiembre de 2024. Esto ayuda a identificar a los usuarios a los que se puede dirigir una campaña para aumentar el compromiso (engagement).

In [6]:
df_q3 = df_dim[
    (df_dim['library_last_updated'].between('2024-07-01','2024-09-30')) &
    (df_dim['has_game_installed'] == False)
]

respuesta1 = df_q3['user_id'].count()

respuesta1

np.int64(14)

```SQL 
SELECT
    count(user_id)
FROM dim_users
WHERE library_last_updated BETWEEN '2024-07-01' AND '2024-09-30'
AND has_game_installed = false;
```

# Pregunta 2

### ¿Cuáles fueron los 5 juegos que tuvieron el mayor número de instalaciones durante el tercer trimestre de 2024? Esto ayuda a revelar los juegos más populares entre los usuarios.

In [7]:
q3_installs = df_fct_user[
    (df_fct_user['install_date'].between('2024-07-01','2024-09-30'))
]

top_5 = q3_installs['game_id'].value_counts().head(5)

top_5

game_id
101    14
102    12
103    10
104     9
105     8
Name: count, dtype: int64

```SQL
SELECT
    game_id,
    COUNT(*) AS total_installs
FROM fct_user_game_activity
WHERE install_date BETWEEN '2024-07-01' AND '2024-09-30'
GROUP BY game_id
ORDER BY total_installs DESC
LIMIT 5;
```

# Pregunta 3

### ¿Cuántos usuarios, cuyas bibliotecas fueron actualizadas por última vez entre julio y septiembre de 2024, tienen 3 o más juegos instalados en su biblioteca?

In [8]:
df_q3 = df_dim[
    (df_dim['library_last_updated'].between('2024-07-01','2024-09-30')) &
    (df_dim['installed_games_count'] >= 3)
    ]

respuesta3 = df_q3['user_id'].count()

respuesta3

np.int64(7)

```SQL
SELECT
    COUNT(user_id)
FROM dim_users
WHERE library_last_updated BETWEEN '2024-07-01' AND '2024-09-30'
  AND installed_games_count >= 3;
  ```