# Airbnb - Top-Rated Listings

```SQL
CREATE TABLE listings (
    id INTEGER,
    name VARCHAR,
    neighborhood VARCHAR,
    rating DECIMAL,
    price INTEGER,
    is_superhost BOOLEAN
);

INSERT INTO listings (id, name, neighborhood, rating, price, is_superhost)
VALUES
    (1, 'Cozy Downtown Loft', 'Downtown', 4.9, 150, true),
    (2, 'Beachfront Paradise', 'Venice Beach', 4.7, 280, true),
    (3, 'Budget Studio', 'East LA', 4.2, 65, false),
    (4, 'Luxury Penthouse', 'Beverly Hills', 4.8, 520, true),
    (5, 'Charming Bungalow', 'Silver Lake', 4.6, 175, true),
    (6, 'Modern Apartment', 'Santa Monica', 4.3, 195, false),
    (7, 'Historic Guest House', 'Pasadena', 4.9, 140, true),
    (8, 'Quiet Retreat', 'Glendale', 4.1, 85, false),
    (9, 'Artsy Hideaway', 'Arts District', 4.5, 125, false),
    (10, 'Family-Friendly Home', 'Burbank', 4.7, 210, true);

SELECT * FROM listings;
```

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_listing = pd.read_csv('Data/024/listings.csv')

df_listing.head()

   id                 name   neighborhood  rating  price  is_superhost
0   1   Cozy Downtown Loft       Downtown     4.9    150          True
1   2  Beachfront Paradise   Venice Beach     4.7    280          True
2   3        Budget Studio        East LA     4.2     65         False
3   4     Luxury Penthouse  Beverly Hills     4.8    520          True
4   5    Charming Bungalow    Silver Lake     4.6    175          True

# Pregunta 1

### Airbnb desea destacar los alojamientos con mejor calificaci칩n en su p치gina de inicio. Escriba una consulta que devuelva el nombre (name), el barrio (neighborhood) y la calificaci칩n (rating) de todos los alojamientos que tengan una calificaci칩n de 4.5 o superior.

In [10]:
df_r1 = df_listing[['name','neighborhood','rating']]

respuesta1 = df_r1[(df_r1['rating'] >= 4.5)]

respuesta1 = respuesta1.sort_values(by='rating', ascending=False)

respuesta1

                   name   neighborhood  rating
0    Cozy Downtown Loft       Downtown     4.9
6  Historic Guest House       Pasadena     4.9
3      Luxury Penthouse  Beverly Hills     4.8
1   Beachfront Paradise   Venice Beach     4.7
9  Family-Friendly Home        Burbank     4.7
4     Charming Bungalow    Silver Lake     4.6
8        Artsy Hideaway  Arts District     4.5

```SQL
SELECT
    name,
    neighborhood,
    rating
FROM listings
WHERE rating >= 4.5
ORDER BY rating DESC;
```